<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <div class="page-timeline">
      <div class="vtimeline-point">
        <div class="vtimeline-icon">
            <i class="fa fa-image"></i>
        </div>
        <div class="vtimeline-block">
            <span class="vtimeline-date">Nov 2021</span><div class="vtimeline-content">
                <a href="javascript:void(0);"><img src="assets/img/insights_article_2.png" alt="" class="img-fluid mb20"></a>
                <a href="javascript:void(0);"><h3>Article: Sea squirts and the origin of the vertebrate brain</h3></a>
                <p>
                    My second article for <a href="https://insights.princeton.edu/">Princeton Insights!</a>
                    This time I delve into what studying the nervous system of sea squirts can tell us about how complex brains
                    originated.
                </p>
                <br>
                <a href="https://insights.princeton.edu/2021/11/sea-squirt-story/" class="btn btn-outline-secondary btn-sm">Read More</a>
            </div>
            </div>
        </div>
    </div>
      <div class="page-timeline">
          <div class="vtimeline-point">
              <div class="vtimeline-icon">
                  <i class="fa fa-image"></i>
              </div>
              <div class="vtimeline-block">
                  <span class="vtimeline-date">Oct 2021</span><div class="vtimeline-content">
                       <div class="embed-responsive embed-responsive-21by9 mb20">
                         <iframe src="https://open.spotify.com/embed/episode/4ObKzCO4ftig8VRTDuK4XQ?utm_source=generator" width="100%" height="152" frameBorder="no" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                  </div>
                      <a href="#"><h3>My first podcast!</h3></a>
                      <p>
                          I hosted a podcast for the first time! This was a follow-up to an article I wrote about hummingbird vision. I spoke with Cassie Stoddard (my PhD advisor) about the experiments she did to determine if hummingbirds can see colours that are not in the rainbow--nonspectral colours! Listen to find out more.
                      </p>
                      <br>
                  </div>
              </div>
          </div>
      </div>
      <div class="page-timeline">
          <div class="vtimeline-point">
              <div class="vtimeline-icon">
                  <i class="fa fa-image"></i>
              </div>
              <div class="vtimeline-block">
                  <span class="vtimeline-date">July 2021</span><div class="vtimeline-content">
                         <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Among my Princeton EEB privileges: a small but excellent ornithological collection that we get access to. Along with labmates I&#39;m putting these together to bring you <a href="https://twitter.com/hashtag/flappyhour?src=hash&amp;ref_src=twsrc%5Etfw">#flappyhour</a> a semi-regular bird thread that starts with a randomly chosen specimen. Today, the SHOEBILL STORK! <a href="https://t.co/NkC53Ub5n1">pic.twitter.com/NkC53Ub5n1</a></p>&mdash; Jarome Ali 🇹🇹 (@notazookeeper) <a href="https://twitter.com/notazookeeper/status/1418969920746913793?ref_src=twsrc%5Etfw">July 24, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                      <a href="#"><h3>Some Twitter fun!</h3></a>
                      <p>
                          Together with labmates, I've started sharing some fun specimens from the Princeton ornithological collection on Twitter with the hashtag #flappyhour.
                      </p>
                      <br>
                  </div>
              </div>
          </div>
      </div>
      <div class="page-timeline">
        <div class="vtimeline-point">
          <div class="vtimeline-icon">
              <i class="fa fa-image"></i>
          </div>
          <div class="vtimeline-block">
              <span class="vtimeline-date">Apr 2021</span><div class="vtimeline-content">
                  <a href="javascript:void(0);"><img src="assets/img/annas_hummingbird.jpg" alt="" class="img-fluid mb20"></a>
                  <a href="javascript:void(0);"><h3>Article: Prince, perception and purple</h3></a>
                  <p>
                      My first article for <a href="https://insights.princeton.edu/">Princeton Insights!</a>
                      I explore how behavioural experiments are teaching us what colours hummingbirds can and can't see.
                  </p>
                  <p>
                      Image by <a href = "https://flickr.com/photos/130819719@N05/39089535924">Becky Matsubara on Flickr.</a>
                  </p><br>
                  <a href="https://insights.princeton.edu/2021/04/hummingbird-color-perception/" class="btn btn-outline-secondary btn-sm">Read More</a>
              </div>
              </div>
          </div>
      </div>
  </div>
<!-- https://www.bootdey.com/snippets/view/bs4-blog-timeline -->
</section>
